absl-py
altair
anyio
argon2-cffi
asttokens
attrs
Babel
backcall
base58
beautifulsoup4
bleach
blinker
cachetools
catboost
certifi
cffi
charset-normalizer
click
colorama
cycler
debugpy
decorator
deepface
defusedxml
dnspython
email-validator
Flask
Flask-Cors
Flask-Mail
Flask-MySQLdb
Flask-Session
Flask-WTF
gdown
gevent
ggplot
GitPython
google-auth
google-auth-oauthlib
googlesearch-python
graphviz
greenlet
grpcio
gunicorn
h5py
httpx
idna
imutils
ipykernel
ipython
ipywidgets
itsdangerous
Jinja2
joblib
jsonschema
jupyter
jupyterlab
keras
kiwisolver
libclang
lxml
Markdown
MarkupSafe
matplotlib
mistune
mtcnn
mysqlclient
nbconvert
nbformat
nltk
notebook
numpy
oauthlib
opencv-contrib-python
opt-einsum
packaging
pandas
Pillow
plotly
protobuf
psutil
pyarrow
pydeck
pygments
pyparsing
PySimpleGUI
python-dateutil
python-docx
pytz
regex
requests
requests-oauthlib
rsa
scikit-learn
scipy
seaborn
streamlit
stripe
tensorboard
tensorflow
tensorflow-estimator
termcolor
threadpoolctl
tornado
tqdm
traitlets
urllib3
validators
watchdog
websocket-client
Werkzeug
wget
widgetsnbextension
wrapt
WTForms
WTForms-Components
zipp
